<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3><%= t('Micropost Feed') %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1><%= t('Welcom to the Sample App') %></h1>

    <h2>
      <%= t('This is the Microblog home page for the Ichigo-Ichinen') %>
    </h2>

    <%= link_to t("Sign up now!"), signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>