<% provide(:title, t('Sign in')) %>
<h1><%= t('Sign in') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= t('Email') %>
      <%= f.text_field :email %>

      <%= t('Password') %>
      <%= f.password_field :password %>

      <%= f.submit t('Sign in'), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= t('New user?') %> <%= link_to t('Sign up now!'), signup_path %></p>
  </div>
</div>